.index-title {
  font-size: 50px;
}
section {
  background-color: skyblue;
  height: 100vh;
  font-size: 120px;
  text-align: center;
  background-image: url(/assets/images/practice.jpg);
  background-repeat: no-repeat;

}
