<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <h1 class="index-title">莊媽媽早餐店</h1>
    <img src="../assets/images/practice.jpg" style="width: 300px;" alt="cat">

    <div class="content">
      <section class="gScroll"><p>one</p></section>
      <section class="gScroll"><p>two</p></section>
      <section class="gScroll"><p>three</p></section>
    </div>

    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
